<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casa Suri</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">    
    <meta name="description" content="Bienvenidos al blog de Casa Suri! Acá compartiremos tips, recetas y recomendaciones gastronomicas.">
    <meta name="keywords" content="blog, recetas, noticias, comida, cocina, restaurantes, comida internacional, comida local, recomendaciones">
  </head>
  <body>

    <div class="container">
      <div class="mobileHeader">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid"> 
            <div class="navbar-header">
             <li><a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Casa Suri<span class="caret"></span></span></a></li>
              <div class="collapse" id="collapseExample">
                <div class="well">
                  <ul>
                      <li><a href="../views/sobreNosotros.html">Sobre Nosotros</a></li>
                      <li><a href="../views/menu.html">Menú</a></li>
                      <li><a href="../views/blog.html">Blog</a></li>
                      <li><a href="../views/contacto.html">Contacto</a></li>
                  </ul>
                </div>
              </div>   
            </div>          
          </div>
        </nav> 
      </div>
    </div>


    <div class="container">
      <div class="header">
        <div class="row">
         <div class="col-xs-3 col-md-3 col-lg-3">
           <img src="../img/logo casa suri.png" alt="logo" id="logo">
         </div>  
         <div class="col-xs-6 col-md-6 col-lg-6">
           <h1 div class="tituloPrincipal"> <a href="../index.html">Casa Suri</a></h1>
          </div>  
          <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu pull-center" aria-labelledby="dropdownMenu1">
                <li><a href="../views/sobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="../views/menu.html">Menú</a></li>
                <li><a href="../views/blog.html">Blog</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div> 
        <div class="row">
          <h3 div class="subtitulo">Comida para llevar hecha por cocineros</h3>
        </div>  
      </div> 
    </div> 
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h2 div class="tituloPagina">Suri Blog</h2>  
        </div>
      </div>
    </div>

    <div class="container"> 
      <div class="entradaBlog">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="articulo">
              <h3 div class="tituloContenido">Receta Carrot Cake</h3>
              <div class="row">
                <div class="col-md-6 col-lg-6"><img src="../img/carrot cake stock imagen.jpg" alt="carrot cake"></div>
                <div class="col-md-6 col-lg-6">
                  <p div class="textoBlog">
                    - Ingredientes: 3/4 de taza de azúcar (175g.) -- 3/4 de taza de aceite (175ml.) -- 3 huevos -- 1 y 1/2 taza de harina leudante -- 2 zanahorias ralladas finas -- 1/2 cdita. de nuez moscada -- 1 cdita. de bicarbonato de sodio -- 1 cdita. de canela -- Ralladura de medio limón -- Para el glaseado: 4 cdas. de azúcar impalpable y 6 cditas. de jugo de limón 
                  </p>
                  <p div class="textoBlog">
                  Preparación:
                  1) Precalentar el horno a 180º y enmantecar y enharinar un molde para torta.
                  2) Colocar en un bol los huevos con el azúcar y batir hasta unir.
                  3) Agregar el aceite y unir bien.
                  4) Incorporar la zanahoria rallada y la ralladura de limón. Unir.
                  5) Mezclar aparte la harina, el bicarbonato, la canela y la nuez moscada.
                  6) Agregar los ingredientes secos tamizados a la mezcla húmeda. Mezclar bien hasta que no quede ni un grumo. Movimientos envolventes.
                  7) Colocar todo en el molde y llevar a horno unos 45 minutos o hasta que la veas dorada.
                  8) El glaseado: colocar el azúcar impalpable y 4 cditas. del jugo de limón. Revolver bien un rato. Si hace falta, agregar las última cditas. de limón. Debe quedar blanco y bien espeso.
                  9) Bañar la torta con el glaseado.</p>
                </div>
              </div>
            </div>
            <div class="mobileArticulo">
              <h3 div class="tituloContenido">Receta Carrot Cake</h3>
              <div class="row">
                <div class="col-xs-12"><img src="../img/carrot cake stock imagen.jpg" alt="carrot cake"></div>
              </div>  
              <div class="row">
                <div class="col-xs-12">
                  <p div class="textoBlog">
                    - Ingredientes: 3/4 de taza de azúcar (175g.) -- 3/4 de taza de aceite (175ml.) -- 3 huevos -- 1 y 1/2 taza de harina leudante -- 2 zanahorias ralladas finas -- 1/2 cdita. de nuez moscada -- 1 cdita. de bicarbonato de sodio -- 1 cdita. de canela -- Ralladura de medio limón -- Para el glaseado: 4 cdas. de azúcar impalpable y 6 cditas. de jugo de limón
                  </p>
                  <p div class="textoBlog">
                  Preparación:
                  1) Precalentar el horno a 180º y enmantecar y enharinar un molde para torta.
                  2) Colocar en un bol los huevos con el azúcar y batir hasta unir.
                  3) Agregar el aceite y unir bien.
                  4) Incorporar la zanahoria rallada y la ralladura de limón. Unir.
                  5) Mezclar aparte la harina, el bicarbonato, la canela y la nuez moscada.
                  6) Agregar los ingredientes secos tamizados a la mezcla húmeda. Mezclar bien hasta que no quede ni un grumo. Movimientos envolventes.
                  7) Colocar todo en el molde y llevar a horno unos 45 minutos o hasta que la veas dorada.
                  8) El glaseado: colocar el azúcar impalpable y 4 cditas. del jugo de limón. Revolver bien un rato. Si hace falta, agregar las última cditas. de limón. Debe quedar blanco y bien espeso.
                  9) Bañar la torta con el glaseado.</p>
                </div>
              </div>
            </div>
          </div>  
        </div> 
      </div>
    </div>  

    <div class="container">
      <div class="entradaBlog">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="articulo">
              <h3 div class="tituloContenido">¡Conocé las especialidades de la concina francesa!</h3>
              <div class="row">
                <div class="col-xs-4 col-md-6 col-lg-6"><img src="../img/restaurant frances.jpg" alt="frente restaurant"></div>
                <div class="col-xs-8 col-md-6 col-lg-6">  
                  <p div class="textoBlog">La comida francesa es reconocida por su variedad y refinamiento, con lo que actualmente está considerada como una de la más importantes gastronomías del mundo. Sus principales productos son la manteca, los quesos, los tomates, las finas hierbas, las carnes de cerdo, las salchichas, etc. y, sobre todo, las hortalizas en general.</p>
                  <p class="textoBlog">Los platos principales son el Aligot, Ratatouille, Foie gras, Fondue de Queso, Raclette, Quiche lorraine, entre otros. Francia también se destaca por sus dulces y postres, algunos de los más representativos son los Crêpes, Macarons, Tarte tatín, Pain d'épices y Canelés.</p>
                </div>
              </div>    
            </div>  
            <div class="mobileArticulo">
              <h3 div class="tituloContenido">¡Conocé las especialidades de la concina francesa!</h3>
              <div class="row">
                <div class="col-xs-12"><img src="../img/restaurant frances.jpg" alt="frente restaurant"></div>
              </div>
              <div class="row">
                <div class="col-xs-12">  
                  <p div class="textoBlog">La comida francesa es reconocida por su variedad y refinamiento, con lo que actualmente está considerada como una de la más importantes gastronomías del mundo. Sus principales productos son la manteca, los quesos, los tomates, las finas hierbas, las carnes de cerdo, las salchichas, etc. y, sobre todo, las hortalizas en general.</p>
                  <p class="textoBlog">Los platos principales son el Aligot, Ratatouille, Foie gras, Fondue de Queso, Raclette, Quiche lorraine, entre otros. Francia también se destaca por sus dulces y postres, algunos de los más representativos son los Crêpes, Macarons, Tarte tatín, Pain d'épices y Canelés.</p>
                </div>  
              </div> 
            </div>
          </div>    
        </div>  
      </div>
    </div>

    <div class="container">
      <footer class="footer">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-6">
            <p> 
            Casa Suri
            Mariscal Antonio José de Sucre 1454, Buenos Aires
            Tel.: 4788-4443
            </p>
            <div class="iconos">        
              <a href="https://wa.me/"><i class='fab fa-whatsapp' style='font-size:36px'></i></a>
              <a href="http://www.instagram.com/casasuri/?hl=es-la" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a>
              <a href="https://www.facebook.com/"><i class='fab fa-facebook-f' style='font-size:36px'></i></a>
              <a href="#"><i class='fas fa-phone-alt' style='font-size:36px'></i></a>
            </div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-xs-12 col-md-12 col-lg-4">
            <div class="mapa">
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3285.808091917631!2d-58.44778448468938!3d-34.55841406260958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1592170726159!5m2!1ses-419!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>       
          </div>                     
        </div>
      </footer>      
    </div>  
    <div class="container">
      <footer class="mobileFooter">
        <div class="row">
          <div class="col-xs-12">
            <p>Casa Suri
                Mariscal Antonio José de Sucre 1454, Buenos Aires
                Tel.: 4788-4443</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
                <div class="iconos">        
                    <a href=""><i class='fab fa-whatsapp' style='font-size:36px'></i></a>
                    <a href="http://www.instagram.com/casasuri/?hl=es-la" target="_blank"><i class='fab fa-instagram' style='font-size:36px'></i></a>
                    <a href="https://www.facebook.com/"><i class='fab fa-facebook-f' style='font-size:36px'></i></a>
                    <a href=""><i class='fas fa-phone-alt' style='font-size:36px'></i></a>
                </div>    
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3285.808091917631!2d-58.44778448468938!3d-34.55841406260958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1592170726159!5m2!1ses-419!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> 	
</body>
</html>